*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;

}

header{
    width: 100%;
    height: 90px;
    background-color: #0b132b ;
}
.interior{
    max-width: 100%;
    padding: 0 18px;
    margin: auto;

}
logo{
    float: left;
    padding: 5px 20px 0;
}
logo img {
    height: 50px;


}
logo img:hover{
    transform: scale(1.1);
}
.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion ul {
    list-style: none;
    padding: 0 10px;
}
.navegacion ul li {
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}
.navegacion ul li:hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.navegacion ul li a:hover{
    color: #00c9bd;
    transform:scale(1.1);
}
.interior span{
    margin-left: 40px;
    color:white;
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;

}
/* body*/
.foto{
    margin: auto;
    width: 360px;
    padding: 50px;

}
.container {
    padding: 20px;
    margin: auto;
    width:50%;
    padding: 20px;
    justify-content: center;

}

.container p{
    font-family: "Roboto Thin" , sans-serif;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    padding-right: 5px;
}
.container img{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height:250px;
    justify-self: center;

}
.column {
    float: left;
    width: 33.33%;
    padding: 20px;
}
.column ul {
    list-style: none;
    padding: 5px 10px;
    font-family: "Roboto Thin", sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.column ul li{
    padding: 5px;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*Tables style*/
.content-table{

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15) ;
    margin-right: auto;
    margin-left: auto;
}
.content-table thead tr{
    background-color:#009879;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th, .content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color:#f3f3f3 ;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.forma{
    margin: auto;


}
.forma ul li{
    width: 30%;
    display: inline-block;
    justify-content: center;
    padding-left: 25px;
}
.forma ul li>*{
    width: 100%;
}
.forma h5{
    color: #009879;
    text-transform: uppercase;
    padding-top: 5px;
    text-align: center;
}
form{
    margin:auto ;
    padding: 10px 50px;
    background: white;
    
    box-shadow: 8px 6px #376CD4;
    width: 650px;
    border-radius: 5px;
    border: #376CD4;
    border-style:solid;

}
label {
    display: block;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
    margin: 15px auto 5px auto;
    text-transform: uppercase;


}
input, select{
    display: block;
    width: 100%;
    font-size: 11pt;
    padding: 3px;
    border: 1px solid #0074C7;
    border-radius: 5px ;

}
.btn_Guardar{
    font-size: 12pt;
    background: #5cb85c;
    padding: 10px 0;
    color: white;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px auto;
}
.btn_Cancelar{
    font-size: 12pt;
    background: red;
    padding: 10px 0;
    color: white;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px auto;
}
.contenedor{
    padding: 50px;
    display: grid ;
    grid-template-columns: 25% auto auto;
    justify-content:space-around;
    
}
.contenedor h2{
    margin: 0 auto;
    justify-content: center;
    color: #009879;
    text-transform: uppercase;
    padding-top: 5px;
    text-align: center;
}

.c1{
    grid-column:1/2 ;
    
}
.c1 ul{
    list-style: none;
    padding: 5px 10px;
    font-family: "Roboto Thin", sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.c1 li{
    display: inline-block;
    position: relative;
    padding-top: 10px;
    display: inline-block;
    justify-content: center;
    padding-left: 25px;
   
}
.c1 li h3{
    color: #009879;

}
.c2{
    grid-column: 2/4;
    
    
} 
.c2 img{
    width: 75%;
    height: 75%;
}
#container{
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}#container form{
    background: white;
    box-shadow: 8px 6px #376CD4;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
}
#container form img{
    margin: 10px auto;
    text-align: center;
    display: block;
}
#container form input{
    width: 60%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 25pt auto;
    border-radius: 5px;
    border: 1px solid #85929e;

}
#container form input[type="submit"]{
    background: #0F4C82;
    padding: 5px;
    color: white;
    letter-spacing: 1px;
    border:0;
    cursor: pointer;
}
#container form h3{
    font-family: "Roboto Light";
    font-size: 36pt;
    letter-spacing: 1px;
    width: 100%;
   justify-content: center;
    padding: 15px;
    color: #0F4C82;
    text-align: center;
    border-radius: 5px;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0b132b;
    color: white;
    font-size: 12px;
    text-align: end;
    padding-right: 15px;
    padding-top: 10px;

}
.edit{
    color:#0cce1c;

}

.delete{
    color: #f83333;

}
.view{
    color: #4188ca;

}